@media only screen and(min-width:481px)and(max-width:700px) {
    body{
        /*properties only  effected by this table*/
      height:50%;
      line-height:20px;
      background-color: green;

    }
}

@media only screen and(min-width:701){

}

/* whole different session*/

@media only screen and(min-width:600px){

}

@media only screen and(max-width:500px){
    
}